# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Ignore large original dataset
data/Telangana_GroundWater_6_hour_Dataset_2021_2025.csv